div {
  width: 300px;
  border: 15px solid coral;
  padding: 50px;
  margin: 20px;
  color: darkblue;
}

.photo {
  width: 320px;
  padding: 5px;
  border: 5px solid pink;
  margin: 0;
}

.table {
  width: 420px;
  padding: 10px;
  border: 5px solid darkturquoise;
  margin: 10;
}
